# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Distribution / packaging
.Python
env/
build/
todo/

# Sphinx documentation
docs/_build/

# MacOS
.DS_Store
.vscode/
